Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
doc/Makefile
doc/Makefile.in
doc/doxyfile
include/Makefile
include/Makefile.in
include/config.h
include/config.h.in
include/stamp-h1
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
model/Makefile
model/Makefile.in
py-compile
src/Makefile
src/Makefile.in
src/gst-plugin/.deps/
src/gst-plugin/Makefile
src/gst-plugin/Makefile.in
src/libpocketsphinx/.deps/
src/libpocketsphinx/Makefile
src/libpocketsphinx/Makefile.in
src/programs/.deps/
src/programs/Makefile
src/programs/Makefile.in
swig/Makefile
swig/Makefile.in
swig/python/.deps/
swig/python/Makefile
swig/python/Makefile.in
swig/python/test/Makefile
swig/python/test/Makefile.in
test-driver
test/Makefile
test/Makefile.in
test/regression/Makefile
test/regression/Makefile.in
test/regression/test-align.matchseg
test/testfuncs.sh
test/unit/.deps/
test/unit/Makefile
test/unit/Makefile.in

test/regression
test/unit
swig
src/programs
src/libpocketsphinx/.libs
src/libpocketsphinx
pocketsphinx.pc
